.task{
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}

.task-top{
    display: flex;
}

.task-top-left{
    width: 80%;
}

.task-top-right{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    
}